// Place this data between the <head> tags of your website

// Schema.org markup for Google+
meta(itemprop='name' content=title)
meta(itemprop='description' content=description)

// Twitter Card data
meta(name='twitter:card' content=twcont)
meta(name='twitter:site' content='https://m-o-z-g.gitlab.io/marxco-icf')
meta(name='twitter:title' content=title)
// Page description less than 200 characters
meta(name='twitter:description' content=description)
meta(name='twitter:creator' content='@M_O_Z_G')

// Open Graph data
meta(property='og:title' content=title)
meta(property='og:type' content=itemtype.toLowerCase())
meta(property='og:url' content='https://m-o-z-g.gitlab.io/marxco-icf')
meta(property='og:description' content=description)
meta(property='og:site_name' content=nameSite)
